bn-workspace,
.container {
  width: 100%;
  height: 100%;
  background: var(--material-sidepane);
  flex-grow: 1;
}

bn-workspace #__addonRef__-editor-main #links-container,
.bn-note-preview #links-container {
  display: none;
}

bn-workspace #__addonRef__-center-container {
  min-width: fit-content;
}

bn-workspace #__addonRef__-center-container #__addonRef__-editor-main {
  min-width: 370px;
}

.bn-note-preview iframe {
  height: var(--details-height, 450px);
  border-radius: 8px;
}
