.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: rgb(77, 77, 77);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tool-button {
  width: 36px;
  max-width: 36px;
  min-width: 36px;
  height: 36px;
  max-height: 36px;
  min-height: 36px;
  border-radius: 3px;
  font-family: Arial;
  background: #fbfbfb;
  border: solid #c9c9c9 1px;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
}

.tool-button:hover {
  background: #e2e2e2;
  text-decoration: none;
}

.tool-button:active {
  background: #b3b3b3;
  text-decoration: none;
}
