.form {
  display: flex;
}

.form > div {
  display: inline-block;
  vertical-align: top;
}

#treeview {
  margin-top: 10px;
}

.drive-header {
  min-height: auto;
  padding: 0;
  cursor: default;
}

.drive-panel {
  padding: 20px 0px 20px 10px;
  font-size: 115%;
  font-weight: bold;
  border-right: 1px solid rgba(165, 165, 165, 0.4);
  height: 100%;
}

.drive-panel:last-of-type {
  border-right: none;
}

ul,
li {
  display: list-item;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: rgb(77, 77, 77);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tool-button {
  width: 36px;
  max-width: 36px;
  min-width: 36px;
  height: 36px;
  max-height: 36px;
  min-height: 36px;
  border-radius: 3px;
  font-family: Arial;
  background: #fbfbfb;
  border: solid #c9c9c9 1px;
  text-decoration: none;
}

.tool-button:hover {
  background: #e2e2e2;
  text-decoration: none;
}

.tool-button:active {
  background: #b3b3b3;
  text-decoration: none;
}