.container {
  min-height: 0;
  height: 100%;
  margin: 0;
}

#top-container {
  gap: 16px;
  overflow: auto;
  padding: 2em;
}

bn-note-picker {
  border: var(--material-border);
  min-width: 600px;
}

#bn-select-note-outline-container {
  border: var(--material-border);
  min-width: 300px;
}

#bn-note-preview-container {
  border: var(--material-border);
  min-width: 450px;
}

#bn-link-insert-position-container {
  align-items: center;
}
