html,
body {
  min-width: 600px;
  min-height: 400px;
}
html,
body,
.viewport {
  padding: 0;
  margin: 0;
  height: 100%;
  word-wrap: break-word;
}
.viewport {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 5px 0 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.viewport-container {
  padding: 0;
  margin: 0;
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-bottom: var(--material-border);
  background: var(--material-background);
}
.footer-container {
  padding: 5px;
}
.list-viewport {
  width: calc(30% - 10px);
  height: 100%;
  overflow: hidden;
}
#table-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}
#templates-table {
  height: 100%;
}
.editor-viewport {
  display: flex;
  flex-direction: column;
  width: calc(40% - 10px);
  padding: 5px;
}
.preview-viewport {
  display: flex;
  flex-direction: column;
  width: calc(30% - 10px);
  padding: 5px;
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0px;
}
.help-button {
  appearance: auto;
  -moz-default-appearance: -moz-mac-help-button;
  min-width: 0;
}
.editor-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
}
.editor-button-container[hidden] {
  display: none;
}
.format {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.format:hover {
  background-color: var(--fill-quinary);
}
.format:active {
  background-color: var(--fill-quarternary);
}
.snippet {
  border: var(--material-panedivider);
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.916666667em;
  line-height: 1.272727273;
  overflow: hidden;
  padding: 1px 4px;
  text-overflow: ellipsis;
  white-space: pre;
  box-sizing: border-box;
  color: var(--fill-primary);
}
.snippet.syntax {
  background-color: color-mix(
    in srgb,
    var(--accent-yellow) 50%,
    transparent 50%
  );
}
.snippet.expression {
  background-color: color-mix(
    in srgb,
    var(--accent-green) 50%,
    transparent 50%
  );
}
.snippet.variable {
  background-color: color-mix(
    in srgb,
    var(--accent-azure) 50%,
    transparent 50%
  );
}
.snippet:hover {
  background-color: var(--fill-quinary);
}
